@font-face{
    font-family: "roboto";
    src: url("fonts/Roboto-Black.ttf");
    src: url("fonts/Roboto-Bold.ttf");
    src: url("fonts/Roboto-Light.ttf");
    src: url("fonts/Roboto-Medium.ttf.ttf");
    src: url("fonts/Roboto-Regular.ttf");

}
@font-face{
    font-family: "shrikhand";
    src: url("fonts/Shrikhand-Regular.ttf");
}
body{
    font-family: "roboto";
    width: 100%;
    margin: 0;
    padding: 0;

    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 4%;

    button{
        font-family: "roboto";
    }
header{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    a:visited{
        color: black;
    }
    i{
     position: absolute;
     left: 25px;
    }
    img{
        image-rendering: optimizeQuality;
        display: block;
        margin: auto;
        width: 50%;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
section{
        width: 100%;
        border: 1px solid transparent;
        border-left: none;
        border-right: none;
        background-color: rgb(228, 226, 226);
        border-radius: 35px 35px 0 0;
        margin-top: 190px;
        
    h1{
        font-family: "shrikhand";
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 20px;
        margin-left: 15px;
        margin-right: 25px;
    }
    h2{

        font-weight: lighter;
        margin-left: 15px;
        border-bottom: 3px solid #99e2d0;
        width: 20%;

    }
    button{
        width: 94%;
        background-color: white;
        margin-left: 10px;
        margin-bottom: 15px;
        border-radius: 12px;
        border: none;
        box-shadow: 0px 2px 5px 2px grey;
        text-align: left;
        padding-right: 15px;
        padding-left: 13px;
        padding-top: 10px;
        h3{
            margin: 0;

        }
        p{
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            font-size: 1em;
        }
    }
.command{
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 60px;
        width: 50%;
        border-radius: 50px;
        padding: 15px;
        color: white;
        background-image: linear-gradient(#ff79da, #9356dc);
        border: none;
        text-align: center;
}
}
footer{
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    h3{
        font-family: "shrikhand"; 
        color: #fff;
        font-weight: 100;
        margin: 0;
        margin-left: 15px;
    }
    p{
        color: #fff;
        margin-left: 15px;
    }
    i{
        margin-right: 10px;
    }
    .ustensils{
        margin-right: 18px;
    }
}
}
@media all and(min-width:768px)
{  
        .responsive{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;}
        h1{
            font-size: 2.5em;
        }
    header{
        padding-top: 1px;
        i{
            font-size: 2.5em;
        }
    }
    
}