
@import "./base/fonts";
@import "./utils/variables";
body{
    font-family: "roboto";
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 4%;
    button{
        font-family: "roboto";
    }
header{
   @include header;
    @include icon_back;
    @include header_img;
}
section{
    width: 100%;
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
    background-color: $background;
    border-radius: 35px 35px 0 0;
    margin-top: 190px;    
     h1{
        font-family: "shrikhand";
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 20px;
        margin-left: 15px;
        margin-right: 25px;
        }
        input{
            display: none;
            }
            h1{
            #heart:checked ~ label i{
                 @include heart
            }
                label:hover i{
                    @include heart_hover
                }}
                    h2{
                        font-weight: lighter;
                        margin-left: 15px;
                        border-bottom: 3px solid $tertiary;
                        width: 15%;
                        font-size: 1.2em!important;
                    }
                    ul{
                        padding-left: 0;
                    }
                            .entrees{
                                animation: fadein 2s;
                                -moz-animation: fadein 2s;
                                -webkit-animation: fadein 2s; 
                            }
                                @keyframes fadein {
                                    from {
                                        opacity:0;
                                    }
                                    to {
                                        opacity:1;
                                    }
                                }
                                    .plats{
                                        animation: fadein 3.5s;
                                        -moz-animation: fadein 3.5s; 
                                        -webkit-animation: fadein 3.5s; 
                                    }
                                        @keyframes fadein {
                                            from {
                                                opacity:0;
                                            }
                                            to {
                                                opacity:1;
                                            }
                                        }
                                    .desserts{
                                        animation: fadein 5s;
                                        -moz-animation: fadein 5s; 
                                        -webkit-animation: fadein 5s; 
                                    }
                                        @keyframes fadein {
                                            from {
                                                opacity:0;
                                            }
                                            to {
                                                opacity:1;
                                            }
                                        }
                                    
                                        li{
                                            @include li;
                                            cursor: pointer;
                                            .descriptive:hover{
                                                min-width: 80%;
                                            }
                                            .descriptive:hover ~.box{
                                                animation: boxslide 500ms  ;
                                                -webkit-animation: boxslide 500ms  ;
                                                animation-fill-mode: forwards;
                                            }
                                           
                                            @keyframes boxslide {
                                                0%{
                                                    width: 48px;
                                                    transform: translate(46px);
                                                }
                                                100%{
                                                    width: 48px;
                                                    transform: translate(1px);
                                                }   
                                            }
                                            .descriptive:hover ~.box i{
                                                animation: iconrotate 1000ms;
                                                -webkit-animation: iconrotate 1000ms;
                                                animation-fill-mode: forwards;
                                            }
                                            @keyframes iconrotate {
                                                0%{
                                                    transform: rotate(1turn);
                                                }
                                                100%{
                                                    transform: rotate(0);
                                                }   
                                            }
                                          
                                        }
                                              
}
.command{
    @include btn_command;
    transition: background-color 500ms, box-shadow 500ms;
        &:hover{
            box-shadow: 0px 5px 5px 0px #808080;
            opacity: 0.95;
        }
}
    a{
        text-decoration: none;
        color: #fff;
    }
}
footer{
    @include footer
}
@media all and(min-width:375px){
    br{
        display: none;
    }
}
@media all and(min-width:768px)
{  
    li{
        width: 80%;
    }
    h1{
        font-size: 2.5em;
    }

    header{
        i{
            font-size: 2.5em;
        }
    }
.command{
    width: 30% !important;
}
}
@media all and (min-width: 1024px){
    header{
        img{
            width: 40% !important;
        }
    }
        .responsive{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-left: 55px;
        }
}