@import "./base/fonts";
@import "./utils/variables";

body{
    font-family: "roboto";
    width: 100%;
    margin: 0;
    padding: 0;

    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 4%;

    button{
        font-family: "roboto";
    }
header{
    @include header;
    @include icon_back;
    @include header_img;
     }
section{
        width: 100%;
        border: 1px solid transparent;
        border-left: none;
        border-right: none;
        background-color: $background;
        border-radius: 35px 35px 0 0;
        margin-top: 190px;
        
    h1{
        font-family: "shrikhand";
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 20px;
        margin-left: 15px;
        margin-right: 25px;
    }
    input{
        display: none;
    }
    #heart:checked ~ label i{
        @include heart
    }
    h2{

        font-weight: lighter;
        margin-left: 15px;
        border-bottom: 3px solid $tertiary;
        width: 20%;

    }
    figure{
        @include figure;
        }
    }
.command{
        @include btn_command;
}
a{
    text-decoration: none;
    color: #fff;
}
}
footer{
    @include footer
}
@media all and(min-width:768px)
{  
        .responsive{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;}
        h1{
            font-size: 2.5em;
        }
    header{
        
        i{
            font-size: 2.5em;
        }
    }
    .command{
        width: 30% !important;
    }
    
}
@media all and (min-width: 1024px){
    header{
        img{
            width: 40% !important;
        }
    }
}