
@import "./base/fonts";
@import "./utils/variables";
body{
    font-family: "roboto";
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 4%;
    button{
        font-family: "roboto";
    }
header{
   @include header;
    @include icon_back;
    @include header_img;
}
section{
    width: 100%;
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
    background-color: $background;
    border-radius: 35px 35px 0 0;
    margin-top: 190px;    
     h1{
        font-family: "shrikhand";
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 20px;
        margin-left: 15px;
        margin-right: 25px;
        }
        input{
            display: none;
            }
            h1{
            #heart:checked ~ label i{
                 @include heart
            }
                label:hover i{
                    @include heart_hover
                }}
                    h2{
                        font-weight: lighter;
                        margin-left: 15px;
                        border-bottom: 3px solid $tertiary;
                        width: 20%;
                    }
                            .entrees{
                                animation: fadein 1.5s;
                                -moz-animation: fadein 1.5s;
                                -webkit-animation: fadein 1.5s; 
                            }
                                @keyframes fadein {
                                    from {
                                        opacity:0;
                                    }
                                    to {
                                        opacity:1;
                                    }
                                }
                                    .plats{
                                        animation: fadein 3s;
                                        -moz-animation: fadein 3s; 
                                        -webkit-animation: fadein 3s; 
                                    }
                                        @keyframes fadein {
                                            from {
                                                opacity:0;
                                            }
                                            to {
                                                opacity:1;
                                            }
                                        }
                                    .desserts{
                                        animation: fadein 4.5s;
                                        -moz-animation: fadein 4.5s; 
                                        -webkit-animation: fadein 4.5s; 
                                    }
                                        @keyframes fadein {
                                            from {
                                                opacity:0;
                                            }
                                            to {
                                                opacity:1;
                                            }
                                        }
                                    
                                        figure{
                                            @include figure;}
                                           /* cursor: pointer;
                                        label i{
                                            cursor: pointer;
                                            color: #fff;
                                            font-size: 1.5em;
                                            background-color: $tertiary;
                                            transform: rotate(0deg) ;
                                             i:hover{
                                                transform: rotate(360deg);
                                            }
                                        }
                                        #choice:checked ~ label i{
                                            animation: slide-in-fwd-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                            transform: rotate(360deg);
                                        }
                                            @keyframes slide-in-fwd-right {
                                                0% {
                                                  transform: translateZ(140px) translateX(100px);
                                                  opacity: 0;
                                                }
                                                100% {
                                                  transform: translateZ(0) translateX(0);
                                                  opacity: 1;
                                                }
                                            }
                                        }
                                    /*figure:hover{
                                            animation: slide-in-fwd-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
                                         
                                            @keyframes slide-in-fwd-right {
                                                0% {
                                                  transform: translateZ(140px) translateX(100px);
                                                  opacity: 0;
                                                }
                                                100% {
                                                  transform: translateZ(0) translateX(0);
                                                  opacity: 1;
                                                }
                                            }*/
                                            
}
.command{
    @include btn_command;
    transition: background-color 500ms, box-shadow 500ms;
        &:hover{
            box-shadow: 0px 5px 5px 0px #808080;
            background-image: linear-gradient($secondary, $primary,);
            opacity: 90%;
        }
}
    a{
        text-decoration: none;
        color: #fff;
    }
}
footer{
    @include footer
}
@media all and(min-width:768px)
{  
.responsive{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    h1{
        font-size: 2.5em;
    }

    header{
        i{
            font-size: 2.5em;
        }
    }
.command{
    width: 30% !important;
}
}
@media all and (min-width: 1024px){
    header{
        img{
            width: 40% !important;
        }
    }
}