@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Black.ttf");
  src: url("fonts/Roboto-Bold.ttf");
  src: url("fonts/Roboto-Light.ttf");
  src: url("fonts/Roboto-Medium.ttf.ttf");
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand-Regular.ttf");
}
/*variables*/
/*mixins*/
body {
  font-family: "roboto";
  width: 100%;
  margin: 0;
  padding: 0;
}
body button {
  font-family: "roboto";
}

header img {
  display: block;
  margin: auto;
  width: 50%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.explorer {
  background-color: #e4e2e2;
  padding-bottom: 35px;
}
.explorer form {
  width: 100%;
  position: relative;
}
.explorer i {
  position: absolute;
  left: 75px;
  top: 13px;
}
.explorer input {
  font-family: "roboto";
  font-size: 1em;
  width: 100%;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #cfcdcd;
  border-top: 3px solid #adacac;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
}
.explorer h2 {
  text-align: center;
  font-weight: 900;
  margin-bottom: 0;
  font-size: 1.5em;
  margin-left: 40px;
  margin-right: 40px;
}
.explorer p {
  text-align: center;
  font-size: 0.9em;
  margin-left: 15px;
  margin-right: 15px;
}
.explorer a {
  text-decoration: none;
  color: #fff;
}
.explorer .btn {
  display: block;
  width: 55%;
  margin: auto;
  border-radius: 50px;
  padding: 15px;
  color: #fff;
  background-image: linear-gradient(#ff79da, #9356dc);
  border: none;
  transition: background-color 500ms, box-shadow 500ms;
}
.explorer .btn:hover {
  box-shadow: 0px 5px 5px 0px #808080;
  opacity: 0.95;
}

nav {
  position: relative;
}
nav h2 {
  font-weight: 900;
  margin-bottom: 0;
  margin-left: 15px;
  font-size: 1.35em;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 50px;
}
nav span {
  position: absolute;
  left: -15px;
  top: 9px;
  color: #fff;
  border: 1px solid #9356dc;
  border-radius: 50%;
  background-color: #9356dc;
  padding: 5px 10px;
}
nav li {
  width: 100%;
  margin-bottom: 20px;
}
nav button {
  position: relative;
  width: 100%;
  font-size: 0.9em;
  font-weight: bold;
  padding: 15px;
  padding-right: 55px;
  border-radius: 12px;
  background-color: #e4e2e2;
  border: none;
  box-shadow: 0px 3px 3px 0px #808080;
  transition: background-color 500ms, box-shadow 500ms;
}
nav button:hover {
  background-color: #c2aeda;
  box-shadow: 0px 5px 5px 0px #808080;
}
nav button:hover i {
  color: #9356dc;
}
nav i {
  margin-right: 20px;
}

.phone {
  margin-left: 12px;
  padding-right: 5px;
}

/* a mettre dans le body?*/
.spin {
  position: absolute;
  z-index: 1;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  border: 8px solid #fff;
  border-radius: 50%;
  border-top: 8px solid #9356dc;
  border-right: 8px solid #ff79da;
  border-bottom: 8px solid #9356dc;
  border-left: 8px solid #ff79da;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear;
  animation: spin 3s linear;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0) scale(1);
  }
  99% {
    -webkit-transform: rotate(5turn) scale(1);
    transform: rotate(5turn) scale(1);
  }
  100% {
    -webkit-transform: rotate(6turn);
    transform: rotate(6turn) scale(0);
  }
}
article {
  width: 100%;
  background-color: #e4e2e2;
}
article div {
  padding-left: 15px;
  padding-right: 15px;
}
article h2 {
  font-weight: 900;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-left: 15px;
  font-size: 1.35em;
}
article a {
  text-decoration: none;
  color: #000;
}
article figure {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 3px 3px 0px #808080;
}
article img {
  width: 100%;
  height: 215px;
  border-radius: 15px 15px 0 0;
  image-rendering: pixelated;
}
article button {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #008000;
  background-color: #99e2d0;
  border-radius: 3px;
  border: none;
}
article figcaption {
  position: relative;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 1px;
}
article i {
  position: absolute;
  right: 25px;
  top: 0px;
  font-weight: bolder;
  font-size: 1.5em;
}
article input {
  display: none;
}
article #heart:checked ~ label i {
  font-weight: bolder;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
article #heart1:checked ~ label i {
  font-weight: bolder;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
article #heart2:checked ~ label i {
  font-weight: bolder;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
article #heart3:checked ~ label i {
  font-weight: bolder;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
article label:hover i {
  cursor: pointer;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
article p {
  font-weight: normal;
  margin-top: 0;
}

footer {
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer h3 {
  font-family: "shrikhand";
  color: #fff;
  font-weight: 100;
  margin: 0;
  margin-left: 15px;
}
footer p {
  color: #fff;
  margin-left: 15px;
}
footer i {
  margin-right: 10px;
}
footer .ustensils {
  margin-right: 18px;
}
footer a {
  text-decoration: none;
  color: #fff;
}

@media all and (min-width: 768px) {
  .explorer i {
    margin-left: 30%;
  }
  .explorer .btn {
    width: 30%;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }
  nav li {
    width: 30%;
  }
  nav .phone {
    margin-left: 0;
    padding-right: 0;
  }
  nav button {
    padding-right: 0;
  }

  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-left: 35px;
    margin-right: 35px;
  }

  article h2 {
    margin-left: 50px;
  }

  footer {
    padding-left: 35px;
  }
}
@media all and (min-width: 1024px) {
  header img {
    width: 40%;
  }

  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
