@font-face{
    font-family: "roboto";
    src: url("fonts/Roboto-Black.ttf");
    src: url("fonts/Roboto-Bold.ttf");
    src: url("fonts/Roboto-Light.ttf");
    src: url("fonts/Roboto-Medium.ttf.ttf");
    src: url("fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "shrikhand";
    src: url("fonts/Shrikhand-Regular.ttf");
}